body {
	background-image: linear-gradient(to left, #fc6076 0%, #ff9a44 100%);
	color: white;
	font-family: 'Poppins', 'Londrina Solid', cursive;
	font-weight: lighter;
	padding-top: 70px;
}

nav { 
	background: #000 !important; 
}

/* ================ */
/* CUSTOM CONTAINER */
/* ================ */
@media (min-width: 768px) {
    .container{
        max-width: 95%;
    }
}

/* =============== */
/* NAVBAR STYLING */
/* =============== */
.nav-text { font-size: 25px !important; }

.navbar-brand { font-family: 'Poppins', 'Londrina Solid', cursive; font-size: 2em; /* letter-spacing: 1px; */ }

.nav-icons { font-size: 22px; transition: all 0.4s }

.nav-icons:hover { color: gray !important; }

#logout { border-bottom: 1px solid transparent; }

#logout:hover { border-bottom: 1px solid white; }


/* =============== */
/* CONTENT OF PAGE */
/* =============== */
#content-heading {
	font-weight: bold;
	color: black;
}

#badge {
	font-size: 16px;
	font-weight: lighter;
}

#app-desc {
	color: #232323;
	font-size: 20px;
	font-weight: 600;
}
/* =============== */
/* BUTTONS STYLING */
/* =============== */
.btn-dark { transition: 0.3s all; font-weight: 500; }

.btn-dark:hover { transform: scale(0.9); }