/* ==================== */
/* GENERAL TAGS STYLING */
/* ==================== */
body { background: #222; color: white; font-family: 'Poppins', 'Londrina Solid', cursive; font-weight: lighter; }

nav { background: none !important; }

img { height: 450px; border-radius: 30px !important; }

/* =============== */
/* CLASSES STYLING */
/* =============== */
.header { background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%); }

.jumbotron { background: none; }

.nav-text { font-size: 25px !important; }

.navbar-brand { font-family: 'Poppins', 'Londrina Solid', cursive; font-size: 2em; /* letter-spacing: 1px; */ }

.option { font-size: 3em; font-weight: 600; color: white; }

.bg-none { background: none;}

.nav-icons { font-size: 22px; transition: all 0.4s }

.nav-icons:hover { color: #e8e8e8 !important; transform: scale(1.1); }

#logout { border-bottom: 1px solid transparent; }

#logout:hover { border-bottom: 1px solid white; }

.text-orange { color: #ff9a44; }

.fiftySongsLinks { font-size: 63px; transition: all 0.4s; margin-top: 100px; }

.fiftySongsLinks:hover {
	transform: scale(1.4);
}

/* =============== */
/* BUTTONS STYLING */
/* =============== */
.btn-dark { transition: 0.3s all; font-weight: 500; }

.btn-dark:hover { transform: scale(0.9); }

.btn-orange { transition: all 0.3s; border: 3px solid #ff9a44; }

.btn-orange:hover { border: 3px solid #fc6076; transform: scale(1.1); }

/* ============ */
/* ID'S STYLING */
/* ============ */
#title { font-family: 'Poppins', sans-serif; font-weight: bold; color: white !important; text-align: right; }

#have50songsBg {
	background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
	height: 100%;
    margin: 0;
	margin-top: 40px;
    background-repeat: no-repeat;
	background-attachment: fixed;
}

#have50songsDesc {
	font-size: 26px;
	text-align: center;
}

/* ====================================== */
/* MOBILE OPTIMIZATION WITH MEDIA QUERIES */
/* ====================================== */

/*  LARGE DESKTOP VIEW */
@media (min-width: 768px) {
    .card { width: 30rem; }
}

/* LAPTOP VIEW */
@media screen and (min-width: 992px) and (max-width: 1198px) {
	.card { width: 28rem; }
	.option { font-size: 2rem; }
}

/* TABLET VIEW */
@media screen and (min-width: 769px) and (max-width: 992px) {
	.card { width: 20rem; }
	img { height: 20rem; }
	.option { font-size: 2rem; }
}

/* MOBILE VIEW */
@media (max-width: 768px) {
    .card { width: unset; }
	img {height: 350px; }
	.option { font-size: 2rem; }
	.nav-text { font-size: 22px !important; }
}